{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 body \{\
  background-color: #FFF;\
  margin: 0;\
  padding: 0;\
\}\
\
.header \{\
  background-image: url("http://www.mediafire.com/convkey/c6fc/3uyz8l21eqsktv7zg.jpg");\
  background-position: center center;\
  background-size: cover;\
  height: 700px;\
  width: 100%;\
\}\
\
#header-text \{\
  margin: 0 auto;\
  position: relative;\
  text-align: center;\
  top: 25%;\
  width: 60%;\
\}\
\
h1 \{\
  color: #FFF;\
  font-family: 'Quicksand', sans-serif;\
  font-size: 70px;\
  font-weight: 400;\
  line-height: 60px;\
  margin: 0;\
\}\
\
h2 \{\
  color: #FFF;\
  font-family: 'Open Sans', sans-serif;\
  text-align: center;\
  font-size: 28px;\
  font-weight: 100;\
\}\
\
h3 \{\
  color: #FFF;\
  font-family: 'Quicksand', sans-serif;\
  font-size: 28px;\
  font-weight: 400;\
  line-height: 30px;\
  margin: 10px 0px;\
  text-align: center;\
\}\
\
h4 \{\
  color: #CCC;\
  font-family: 'Quicksand', sans-serif;\
  font-size: 16px;\
  font-weight: 300;\
\}\
\
p \{\
  color: white;\
  font-family: 'Open Sans', sans-serif;\
  font-size: 16px;\
  font-weight: 100;\
  line-height: 24px;\
  margin: 0 auto;\
  text-align: center;\
  width: 60%;\
\}\
\
.partner \{\
  padding: 20px;\
  text-align: center;\
  margin: 0 auto;\
  border-bottom: 1px solid #eeeeee;\
\}\
\
.partner img \{\
  position: relative;\
  top: 6px;\
\}\
\
.aa-logo \{\
  padding-left: 6px;\
\}\
\
.main \{\
  background: url("http://www.mediafire.com/convkey/13f6/f5ef53rzkn8tzm9zg.jpg?size_id=7");\
  margin: 0;\
  padding: 40px;\
\}\
\
.value-props \{\
  margin: 40px auto;\
  width: 60%;\
\}\
\
.prop \{\
  border: 1px solid #FFF;\
  padding: 40px 0px;\
  margin: 5px 0px;\
  text-align: center;\
\}\
\
.prop h2 \{\
  font-family: 'Quicksand', sans-serif;\
  font-size: 24px;\
\}I}